<!DOCTYPE html>
    <html ng-app="myApp">
     <head>
        <title>Simple Directives</title>
    </head>
    <body ng-controller="HomeController">
        <h1>Directives</h1>
        <input type="text" ng-model="message" />
        <br /><br  />

        <h2>Dependent</h2>
        <dependent></dependent>
        
        
        <h2>Isolate</h2>
        <evaluator expression="myExpr" result="output"></evaluator>
        <br />
        
        <h4>Result from evaluator: {{output}}</h4>
        <h4>Expression from evaluator: {{myExpr}}</h4>

        <script src="/common/js/jquery/jquery.js"></script>
        <script src="/common/js/angular/angular.js"></script>
        <script src="directives/directives.js"></script>
        <script src="controllers.js"></script>
    </body>
</html>
